<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <div class="wrapper">
        <ul nz-menu>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
              nzSelected>
            <i nz-icon nzType="mail"></i>
            <a routerLink="/enterprise">Danh sách GLN</a>
          </li>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
              nzSelected>
            <i nz-icon nzType="mail"></i>
            <a routerLink="/shop">Danh sách cửa hàng</a>
          </li>
        </ul>
      </div>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
